<form #f='ngForm'>
<div class='container-fluid p-5 '>
	<div class='row '>
		<label class='page-header col-sm-2 '> SMS Configurations</label>
		<label class='col-sm-8 '> {{ admin_sms_conf_status }}</label>
		<div class=' col-sm-2' style='text-align: right'>
			<div class='btn-group '>
				<button class='btn btn-primary btn-sm ' id='add_btn' name='add_btn' data-target='#dlg' data-toggle='modal' (click)='clear_admin_sms_conf()'>
					<i class='fa fa-plus'></i> Add
				</button>
				<a class='btn btn-primary btn-sm ' id='back_btn' name='back_btn' data-toggle='modal' routerLink='/settings'>
					<i class='fa fa-arrow-left'></i> Back
				</a>
			</div>
		</div>
	</div>
	<div class='row '>
		<div class='col-sm-12'>
			<table class='table table-bordered table-sm '>
				<thead>
					<tr>
						<th>Configuration name</th>
						<th>SMSC center</th>
						<th>SMS URL</th>
						<th>SMS parameters</th>
						<th>Status</th>
						<th>System ID</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor='let x of admin_sms_confList'>
						<td>
							<a class='' id='conf_name' name='conf_name' data-target='#dlg' data-toggle='modal' (click)='current_record_admin_sms_conf(x)' href='#'>
								{{ x.conf_name }}
							</a>
						</td>
						<td> {{ x.smsc_center }} </td>
						<td> {{ x.sms_url }} </td>
						<td> {{ x.sms_params }} </td>
						<td> {{ x.status }} </td>
						<td> {{ x.sysid }} </td>
						<td>
							<a class='' style='color: red' data-toggle='modal' (click)='delete_admin_sms_conf(x.sysid)' href='#'>
								<i class='fa fa-trash'></i> Delete
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div tabindex='-1' role='dialog' class='modal fade ' id='dlg'>
		<div class='modal-dialog modal-lg' role='document'>
			<div class='modal-content'>
				<div class='modal-header '>
					<div class='modal-title'><h5>SMS Configurations</h5></div>
					<button type='button' class='close' data-dismiss='modal' aria-label='Close' #closeBtn>
						<span aria-hidden='true'>&times;</span>
					</button>
				</div>
				<div class='modal-body '>
			<div class='row '>
				<div class='col-sm-12'>
					<div class='form-group row'>
						<label class='col-sm-3 col-form-label' for='sysid'>System ID</label>
						<div class='col-sm-9'>
							<input class='form-control ' id='sysid' name='sysid' type='text' autocomplete='off' readonly [(ngModel)]='admin_sms_conf.sysid' #sysid="ngModel">
						</div>
					</div>
				</div>
				<div class='col-sm-12'>
					<div class='form-group row'>
						<label class='col-sm-3 col-form-label' for='conf_name'>Configuration name</label>
						<div class='col-sm-9'>
							<input class='form-control ' id='conf_name' name='conf_name' type='text' autocomplete='off' [(ngModel)]='admin_sms_conf.conf_name' #conf_name="ngModel">
						</div>
					</div>
				</div>
				<div class='col-sm-12'>
					<div class='form-group row'>
						<label class='col-sm-3 col-form-label' for='smsc_center'>SMSC center</label>
						<div class='col-sm-9'>
							<input class='form-control ' id='smsc_center' name='smsc_center' type='text' autocomplete='off' [(ngModel)]='admin_sms_conf.smsc_center' #smsc_center="ngModel">
						</div>
					</div>
				</div>
				<div class='col-sm-12'>
					<div class='form-group row'>
						<label class='col-sm-3 col-form-label' for='sms_url'>SMS URL</label>
						<div class='col-sm-9'>
							<textarea class='form-control ' id='sms_url' name='sms_url' rows='5' autocomplete='off' [(ngModel)]='admin_sms_conf.sms_url' #sms_url="ngModel"></textarea>
						</div>
					</div>
				</div>
				<div class='col-sm-12'>
					<div class='form-group row'>
						<label class='col-sm-3 col-form-label' for='sms_params'>SMS parameters</label>
						<div class='col-sm-9'>
							<input class='form-control ' id='sms_params' name='sms_params' type='text' autocomplete='off' [(ngModel)]='admin_sms_conf.sms_params' #sms_params="ngModel">
						</div>
					</div>
				</div>
				<div class='col-sm-12'>
					<div class='form-group row'>
						<label class='col-sm-3 col-form-label' for='status'>Status</label>
						<div class='col-sm-9'>
							<select class='form-control ' id='status' name='status' [(ngModel)]='admin_sms_conf.status' #status="ngModel">
								<option value=''></option>
								<option value='Active'>Active</option>
								<option value='Inactive'>Inactive</option>
							</select>
						</div>
					</div>
				</div>
			</div>
				</div>
				<div class='modal-footer '>
			<div class='row '>
				<label class='pull-left '> {{ admin_sms_conf_status }}</label>
				<div class=' col-sm-5'>
					<div class='btn-group pull-right '>
						<button class='btn btn-primary btn-sm ' name='save_btn' (click)='save_admin_sms_conf(f)'>
							<i class='fa fa-save'></i> Save
						</button>
						<button class='btn btn-primary btn-sm ' name='close_btn' data-dismiss='modal'>
							<i class='fa fa-remove'></i> Close
						</button>
					</div>
				</div>
			</div>
				</div>
	</div>
		</div>
			</div>
</div>
</form>