<form #f='ngForm'>
	<div class='container-fluid '>
		<div class='row pt-4 '>
			<div class='' class='col-sm-1'>
				<div class='row '>
				</div>
			</div>
			<div class='' class='col-sm-2'>
				<div class='row '>
					<div class='col-sm-12'>
						<app-srmenu></app-srmenu>
					</div>
				</div>
			</div>
			<div class='' class='col-sm-9'>
				<div class='row '>
					<label class='page-header col-sm-12 '> Ticket progress
					</label>
					<label class='col-sm-12 '> This is upcoming feature. Stay tuned...
					</label>
				</div>
			</div>
		</div>
	</div>
</form>