<form #f='ngForm'>
<div class='container-fluid p-5 '>
	<div class='row px-5 '>
		<label class='page-header col-sm-2 '> Seller subtypes</label>
		<label class='col-sm-8 '> {{ sales_supp_subtype_status }}</label>
		<div class=' col-sm-2' style='text-align: right'>
			<div class='btn-group '>
				<button class='btn btn-primary btn-sm ' id='add_btn' name='add_btn' data-target='#dlg' data-toggle='modal' (click)='clear_sales_supp_subtype()'>
					<i class='fa fa-plus'></i> Add
				</button>
				<a class='btn btn-primary btn-sm ' data-toggle='modal' routerLink='/settings'>
					<i class='fa fa-arrow-left'></i> Back
				</a>
			</div>
		</div>
	</div>
	<div class='row px-5 '>
		<div class='col-sm-12'>
			<table class='table table-bordered table-sm '>
				<thead>
					<tr>
						<th>Subtype name</th>
						<th>Description</th>
						<th>Status</th>
						<th>System ID</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor='let x of sales_supp_subtypeList'>
						<td>
							<a class='' id='supp_subtype' name='supp_subtype' data-target='#dlg' data-toggle='modal' (click)='current_record_sales_supp_subtype(x)' href='#'>
								{{ x.supp_subtype }}
							</a>
						</td>
						<td> {{ x.descr }} </td>
						<td> {{ x.status }} </td>
						<td> {{ x.sysid }} </td>
						<td>
							<a class='' style='color: red' data-toggle='modal' (click)='delete_sales_supp_subtype(x.sysid)' href='#'>
								<i class='fa fa-trash'></i> Delete
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<div tabindex='-1' role='dialog' class='modal fade ' id='dlg'>
		<div class='modal-dialog' role='document'>
			<div class='modal-content'>
				<div class='modal-header '>
					<div class='modal-title'><h5>Seller subtypes</h5></div>
					<button type='button' class='close' data-dismiss='modal' aria-label='Close' #closeBtn>
						<span aria-hidden='true'>&times;</span>
					</button>
				</div>
				<div class='modal-body '>
			<div class='row '>
				<div class='col-sm-12'>
					<div class='form-group row'>
						<label class='col-sm-4 col-form-label' for='sysid'>System ID</label>
						<div class='col-sm-8'>
							<input class='form-control ' id='sysid' name='sysid' type='text' autocomplete='off' readonly [(ngModel)]='sales_supp_subtype.sysid' #sysid="ngModel">
						</div>
					</div>
				</div>
				<div class='col-sm-12'>
					<div class='form-group row'>
						<label class='col-sm-4 col-form-label' for='supp_subtype'>Subtype name</label>
						<div class='col-sm-8'>
							<input class='form-control ' id='supp_subtype' name='supp_subtype' type='text' autocomplete='off' [(ngModel)]='sales_supp_subtype.supp_subtype' #supp_subtype="ngModel">
						</div>
					</div>
				</div>
				<div class='col-sm-12'>
					<div class='form-group row'>
						<label class='col-sm-4 col-form-label' for='descr'>Description</label>
						<div class='col-sm-8'>
							<textarea class='form-control ' id='descr' name='descr' rows='5' autocomplete='off' [(ngModel)]='sales_supp_subtype.descr' #descr="ngModel"></textarea>
						</div>
					</div>
				</div>
				<div class='col-sm-12'>
					<div class='form-group row'>
						<label class='col-sm-4 col-form-label' for='status'>Status</label>
						<div class='col-sm-8'>
							<select class='form-control ' id='status' name='status' [(ngModel)]='sales_supp_subtype.status' #status="ngModel">
								<option value=''></option>
								<option value='Active'>Active</option>
								<option value='Inactive'>Inactive</option>
							</select>
						</div>
					</div>
				</div>
			</div>
				</div>
				<div class='modal-footer '>
			<div class='row '>
				<label class='pull-left '> {{ sales_supp_subtype_status }}</label>
				<div class=' col-sm-5'>
					<div class='btn-group pull-right '>
						<button class='btn btn-primary btn-sm ' name='save_btn' (click)='save_sales_supp_subtype()'>
							<i class='fa fa-save'></i> Save
						</button>
						<button class='btn btn-primary btn-sm ' name='close_btn' data-dismiss='modal'>
							<i class='fa fa-remove'></i> Close
						</button>
					</div>
				</div>
			</div>
				</div>
	</div>
		</div>
			</div>
</div>
</form>