<form #f='ngForm'>
	<div class='container-fluid '>
		<div class='row pt-4 '>
			<div class='' class='col-sm-1'>
				<div class='row '>
				</div>
			</div>
			<div class='' class='col-sm-2'>
				<div class='row sr-side p-0 '>
					<div class='col-sm-12'>
						<app-srmenu></app-srmenu>
					</div>
				</div>
			</div>
			<div class='' class='col-sm-8'>
				<div class='row '>
					<label class='col-sm-12 '> <h5>Welcome Manish</h5>
					</label>
					<label class='descr col-sm-12 '> Please find below snapshot of your tickets with statistics
					</label>
				</div>
				<div class='row '>
					<div class='' class='col-sm-4'>
					<div class='card shadow '>
						<div class='card-header ' style='font-size: 13pt;'>
							<p class=''>Ticket statistics</p>
						</div>
						<div class='card '>
							<div class='row p-3 '>
								<label class='col-sm-12 '> Tickets raised this month<br><h5> 02 </h5>
								</label>
								<label class='col-sm-12 '> Total open tickets<br><h5> 07 </h5>
								</label>
								<label class='col-sm-12 '> Total closed tickets<br><h5> 03 </h5>
								</label>
								<label class='col-sm-12 '> Total tickets till date <br><h5> 34 </h5>
								</label>
							</div>
						</div>
					</div>
					</div>
					<div class='' class='col-sm-8'>
						<div class='row '>
							<canvas class='' id='myChart' style='width: 300px !important; height: 200px !important;'>
							</canvas>
						</div>
					</div>
					<div class='' class='col-sm-12'>
						<div class='row '>
						</div>
					</div>
				</div>
			</div>
			<div class='' class='col-sm-1'>
				<div class='row '>
				</div>
			</div>
		</div>
	</div>
</form>